body {
    background-color: #000;
    color:  #ffffff;
}
.navbar {
    background-color: #000;
}
.jumbotron {
    background-color: #ff0000;
    color: #000;
}
h2{
    font-family: Pacifico;
    font-size: 35px; /* Adjust the font size as needed */
            font-weight: bold;
            text-align: left;

}
.x{
    display: flex;
  flex-direction: column;
}
.x section{
    flex: 1; /* Distribute available space evenly */
}
.menu-item {
    background-color:#000;
    color: #ff0000;
}
section{
    border-radius: 50px;
}
.category{
    
    border-radius: 50px;
}
.card{
    background-color: #fff;
    color: #000;
    border-width: 10px;
    border-color: #000;
    border-radius: 60px;
    
}
.cit{
    border-radius: 50px;
    margin-bottom: -10px;
}
.card-text{
    margin-top: -15px;
}
.card-text strong{
    background-color: #000;
    color: #fff;
    border-radius: 100px;
    padding: 0px 10px;
}
.footer {
    background-color: rgb(27, 25, 25);
    color:  #ff0000;
    border-top-left-radius: 35px; /* Adjust the value to control the roundness of the top-left corner */
    border-top-right-radius: 35px;
   
}
.download-button {
    display: inline-block;
    /* padding: 10px 20px; */
    /* background-color: #0073e6; Change the background color to match your brand */
    color: #ffffff; /* Change the text color to contrast with the background */
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

.download-button img {
    width: 175px; 
    height: 75px;
    vertical-align: middle;
    margin-right: 10px;
    padding: 2px;
    background-color: #ffffff;
    border-radius: 10px;
}
.social-icon {
    font-size: 35px; /* Adjust the icon size as needed */
    /* color: #0073e6; Adjust the icon color as needed */
    margin-right: 20px; /* Adjust the margin as needed for spacing between icons */
}
.social-icon img{
    margin-top: -10px;
    width: 45px; /* Adjust the icon size as needed */
    /* color: #0073e6; Adjust the icon color as needed */
    /* Adjust the margin as needed for spacing between icons */
}
.footer a {
    text-decoration: underline; /* Add underline */
    font-family: Arial, sans-serif; /* Change font-family */
    font-weight: bold; /* Change font-weight if needed */
    color: #0073e6; /* Change link color */
}
@media (max-width: 400px) {
    /* Your styles for screens with a width less than 768px go here */
    h2{
        margin-top: 5px;
        font-size: 20px;
    }
  }